@import "tailwindcss";
@import "@nuxt/ui";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
  background-color: #090914;
}

html.dark {
  background-color: #090914;
}

body {
  font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  background-color: #090914;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}
